<ion-content>
  <!--header start-->
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back" routerLink="/welcome"></ion-icon>
      <div id="logo">
        <img src="assets/icon/gala.png" alt="">
      </div>
      <div></div>
    </div>
    <h1>Hi! I am Gala</h1>
  </div>
 <!--header end-->

 <!--paceholder start-->
  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <h2>Your Personal Tour Assistant App in Mabini</h2>
        <div class="logo-wlc">
        <img src="assets/icon/welcome.png" alt="">
        </div>
        <!--button-->
        <ion-button routerLink="/home" class="btn-lg" expand="block">Get Started</ion-button>
        <!--button-->

      </ion-card-content>
    </ion-card>
    <!--paceholder end-->

    <!--divider start-->
    <div class="line-text">
      <span class="lines"></span>
      <span class="text">Features</span>
    </div>
    <!--divider end-->

    <!--social media icon-->
    <!--//note: all icon is button-->
    <ion-card class="social-wrapper">
      <ion-card-content>
        <div class="socials">
          <ion-button class="btn-fb">
            <ion-icon name="walk-outline"></ion-icon>
          </ion-button>
          <ion-button class="btn-tw">
            <ion-icon name="locate-outline"></ion-icon>
          </ion-button>
          <ion-button class="btn-go">
            <ion-icon name="navigate-outline"></ion-icon>
          </ion-button>
          <ion-button class="btn-ph">
            <ion-icon name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <!--social media icon-->
</ion-content>
