<ion-content>
    <ion-card>
        <iframe width="350" height="250" src="https://www.youtube.com/embed/K2Cjf8gHH3Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <ion-card-header>
          <ion-card-title>Welcome to Mabini</ion-card-title>
          <ion-card-subtitle>more about:</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
            The town is named after revolutionary paralytic hero, Apolinario Mabini who is considered by recent historians as the first Prime Minister of the Philippines. It was carved from Bauan municipality on January 1, 1918, with Captain Francisco Castillo, known as the founder of the town, as the first appointive Municipal President.
            In 1918, a census was taken showing a total population of 11,925.
        </ion-card-content>
      </ion-card>
</ion-content>

